{% extends "backView/templateBack.twig" %}


{% block content %}

<section class="projects-section bg-light" id="addPost">
    <div class="container">
        <div class="row">
            <h2 class="col-lg-6 font-weight-bold align-self-center">Ajouter un article</h2>
        </div>
        <hr class="d-none d-lg-block  mb-5" />
        <div class="row">
            <div class="col-lg-12">
                <form class="form-group" method="post" action="" enctype="multipart/form-data">

                    <label for="titlePost" class="font-weight-bold">Titre :</label>
                    <input type="text" name="titlePost" id="titlePost" class="form-control mb-3" required />

                    <label for="chapoPost" class="font-weight-bold">Chapô :</label>
                    <textarea name="chapoPost" id="chapoPost" class="form-control mb-3" required></textarea>

                    <label for="contentPost" class="font-weight-bold">Contenu :</label>
                    <textarea name="contentPost" id="contentPost" class="form-control mb-3" rows="10" required ></textarea>
                    
                    <label for="imgPost" class="font-weight-bold">Ajouter une image : </label>
                    <input type="hidden" name="MAX_FILE_SIZE" value="100000">
                    <input type="file" class="mb-5 text-right" id="imgPost" name="imgPost" />
                
                    <div class="form-row mb-3">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="col-md-12 mb-2">
                                    <button type="submit" name="preview" class="btn btn-sm btn-outline-secondary">
                                        Aperçu de l'article
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" name="notPublished" class="btn btn-sm btn-outline-secondary">
                                        Enregistrer en brouillon
                                    </button>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6 text-right">
                            <button type="submit" name="addPost" class="btn btn-secondary">
                                Publier l'article
                            </button>
                        </div>
                    </div>
                    <div class="row"><div class="col-lg-12 text-right text-danger">{{ msg }}</div></div>
                </form>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}