{% extends "backView/templateBack.twig" %}


{% block content %}

<section class="projects-section bg-light" id="backListPosts">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 text-center">Id</div>
            <div class="col-lg-2 text-center">Titre</div>
            <div class="col-lg-1 text-center">Auteur</div>
            <div class="col-lg-2 text-center">Date d'ajout/modif</div>
            <div class="col-lg-6 text-center">Action</div>
        </div>
        {% for post in posts %}
            <p >{{post.id}}</p>
        {% endfor %}
    </div>
</section>

{% endblock %}