<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title></title>
            <link rel="icon" type="image/x-icon" href="public/assets/img/favicon.ico" />
            <!-- Font Awesome icons (free version)-->
            <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
            <!-- Google fonts-->
            <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="public/css/styles.css" rel="stylesheet" />
            <!-- CSS styles additional-->
            <link href="public/css/additionalStyles.css" rel="stylesheet" />
        {% endblock %}
    </head>

    <body id="page-top">

        {% block nav %}
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="#page-top">
                        <img src="public/assets/img/logo.png" id="logoMenu" alt="logo" />
                    </a>
                    {% if user.profilPicture is null %}
                        <img src="public/assets/img/userImg/profil.png" alt="Photo de profil" id="profilPictureMenu"/>
                    {% else %}
                        <img src={{ constant('USER_IMG_DIRECTORY') ~ user.profilPicture }} alt="Photo de profil" id="profilPictureMenu" class="ml-5"/>
                    {% endif %}
                        <a class="nav-link js-scroll-trigger" href={{ 'index.php?admin=profil&id=' ~ user.id }} id="adminProfil">
                        {{user.userName}} : 
                       {% if user.type == 'administrator' %}
                           Administrateur
                       {% elseif user.type == 'author' %}
                           Auteur
                       {% elseif user.type == 'moderator' %} 
                           Modérateur
                       {% endif %}
                   </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"></li><a class="nav-link js-scroll-trigger" href="index.php?admin=backhome">BackHome</a></li>
                            {% if user.type == 'administrator' or user.type == 'author' %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.php?admin=post">Articles</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.php?admin=listcomments">Commentaires</a></li>
                            {% if user.type == 'administrator' %}
                                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="index.php?admin=listusers">Utilisateurs</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
                
        {% endblock %}
       
        {% block content %}
            
        {% endblock %}

        <!-- Footer-->
        {% block footer %}

            
            <footer class="footer bg-black small text-center text-white-50">
                <div class="row">
                    <div class="col-lg-12">
                            <div class="container text-left mb-3"><a href="index.php?p=disconnect" id="connect">Se Deconnecter</a></div>
                            <div class="container text-left"><a href="index.php" id="admin">Retour au site >>>></a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="container text-center">Copyright © Your Website 2020</div>
                </div>
                
               
            </footer>
        {% endblock %}
        
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="public/js/scripts.js"></script>
        
    </body>
</html>