.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0; 
}

#submitMessage {
  width: 100%;
}

#nameVisitor {
  font-size: 0.85em;
}

#comment {
  font-size: 0.85em;
}

#commentDate {
  font-size: 0.6em;
}

#submitComment {
  text-transform: none;
  padding: 0.75rem 1rem;
}

.post {
  flex-direction: row-reverse;
}

.post:nth-child(2n+1) {
  flex-direction: row;
}

.post:nth-child(2n+1) > .reverse {
  text-align: right;
}

.post:nth-child(2n+0) > .reverse {
  text-align: left;
}

#connect {
  font-weight: normal !important;
  font-size: 1rem !important;
  border: 1px black;
}

#user {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.text-blue {
  color: #6610f2;
}

#labelImgPost::after {
  content: "Parcourir";
}

.btn-sm {
  padding: 0.25rem 0.5rem !important;
  width: 70%;
  text-transform: none;
}

.btn-img {
  padding: 5px 10px;
  text-transform: none;
}

#imgPost {
  color: grey;
}

.text-size-sm {
  font-size: 0.85em;
}

.projects-section {
  min-height: 700px;
}

#profilPicture {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

#profilPictureMenu {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

#adminProfil {
  padding: 1rem 0.75rem !important;
}

#profilPictureLarge {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

#logoMenu {
  width: 7rem;
  height: 5rem;
}
@media (max-width: 1200px) {
  #logoMenu {
    width: 4rem;
    height: 3rem;
  }
}

@media (max-width: 992px) {
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.75);
  }
}

#logoHome {
  width: 14rem;
  height: 12rem;
}
@media (max-width: 1200px) {
  #logoHome {
    width: 11rem;
    height: 9rem;
  }
}
@media (max-width: 768px) {
  #logoHome {
    width: 8rem;
    height: 7rem;
  }
}


#myName {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
@media (max-width: 992px) {
  #myName{
    font-size: 1.3rem;
  }
  #myNameMenu {
    font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  #myNameMenu {
    font-size: 1rem;
  }
}

#myJob {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  
}
@media (max-width: 992px) {
  #myJob {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
@media (max-width: 540px) {
  #myJob {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
}

.btn-primary {
  background-color: #4a7276 !important;
}

.btn-primary:hover {
  background-color: #1b3236 !important;
}

#about-text {
  text-align: justify;
  text-justify: inter-word;
}

#myPhoto {
  width: 250px;
  height: 261px;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.fa-stack-1x,
.fa-stack-2x {
  position: inherit;
}

.about-section h2 {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.black-font h4 {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.white-font h4, .white-font h2 {
  background: linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.5));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

@media (max-width: 992px) {
  .masthead {
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar .container, 
  .navbar .container-fluid, 
  .navbar .container-sm, 
  .navbar .container-md, 
  .navbar .container-lg, 
  .navbar .container-xl {
    justify-content: space-around;
  }
  .ml-5, .mx-5 {
    margin-left: 0 !important;
  }
  .about-section {
    padding-top: 0;
  }
}

.projects-section .project-text {
  padding: 3rem;
}
@media (max-width: 998px) {
  .projects-section .project-text {
    padding: 2rem;
  }
}

@media (min-width: 999px) {
  .content-post-sm {
    display: none;
  }
}

@media (max-width: 768px) {
  .content-post-xs {
    display: none;
  }
}

@media (max-width: 998px) {
  #firstPost h4 {
    text-align: left;
  }
  #firstPost p {
    text-align: justify !important;
    margin-bottom: 0;
  }
  .content-post-lg {
    display: none;
  }
  #homePosts h4 {
    text-align: left;
   
  }
  #homePosts p {
    text-align: justify !important;
  }
  .author {
    display: none;
  }
  .projects-section {
    padding-bottom: 2rem;
  }
  .signup-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .post {
    margin-bottom: 0 !important;
  }
}

#inputName, #inputFirstName, #inputEmail, #inputMessage, #submitMessage {
  margin-bottom: 1rem !important;
}

@media (max-width: 768px) {
  .footer-menu {
    display: none;
  }
  .action {
    text-align: center !important;
  }
}

@media (max-width: 992px) {
  #textListPost p {
    text-align: justify;
  }
  #textListPost h4 {
    text-align: left;
  }
  #postImage {
    text-align: center;
  }
}

@media (max-width: 540px) {
  #authorList {
    text-align: left !important;
  }
}

@media (max-width: 992px) {
  #text-post p{
    text-align: justify !important;
    padding: 0;
    margin-bottom: 3rem;
  }
}

@media (max-width: 992px) {
  #profilPictureMenu {
    display: none;
  }
  #admin {
    padding: 7rem 0;
  }
  #admin .featured-text {
    padding: 0;
  }
  #backHomeProfil {
    text-align: left;
  }
  #addPostButton {
    text-align: left !important;
    margin-top: 2rem;
  }
  #backListPosts div {
    margin-bottom: 1rem !important;
  }
  .btn-sm {
    width: 100%;
  }
}







  
