#submitMessage {
    width: 100%;
  }
  
  #nameVisitor, #comment {
    font-size: 0.85em;
  }
  
  #commentDate {
    font-size: 0.6em;
  }
  
  #submitComment {
    text-transform: none;
    padding: 0.75rem 1rem;
  }
  
  .post:nth-child(2n+1) {
    flex-direction: row;
  }
  
  .post:nth-child(2n+1) > .reverse {
    text-align: left;
  }
  
  .post {
    flex-direction: row-reverse;
  }
  
  .post:nth-child(2n+0) > .reverse {
    text-align: right;
  }
  
  #connect {
    font-weight: normal !important;
    font-size: 1rem !important;
    border: 1px black;
  }
  
  #user {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }

  .text-blue {
    color: #6610f2;
  }

  #labelImgPost::after {
    content: "Parcourir";
  }

  .btn-sm {
    padding: 0.25rem 0.5rem !important;
    width: 70%;
    text-transform: none;
  }
