  #submitMessage {
    width: 100%;
  }

 #nameVisitor {
  font-size: 0.85em;
  }

  #comment {
  font-size: 0.85em;
  }

  #commentDate {
    font-size: 0.6em;
  }

  #submitComment {
    text-transform: none;
    padding: 0.75rem 1rem;
  }

  .post:nth-child(2n+1) {
    flex-direction: row;
  }

  .post {
    flex-direction: row-reverse;
  }

  .post:nth-child(2n+1) > .reverse {
    text-align: left;
    }

  .post:nth-child(2n+0) > .reverse {
    text-align: right;
  }

  #connect {
    font-weight: normal !important;
    font-size: 1rem !important;
    border: 1px black;
  }

  #user {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }

  .text-blue {
    color: #6610f2;
  }

  #labelImgPost::after {
    content: "Parcourir";
  }

  .btn-sm {
    padding: 0.25rem 0.5rem !important;
    width: 70%;
    text-transform: none;
  }

  .btn-img {
    padding: 5px 10px;
    text-transform: none;
  }

  #imgPost {
    color: grey;
  }

  .text-size-sm {
    font-size: 0.85em;
  }

  .projects-section {
    min-height: 700px;
  }

  #profilPicture {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
  }

  #profilPictureMenu {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }

  #adminProfil {
    padding: 1rem 0.75rem !important;
  }

  #profilPictureLarge {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
  }

  #logoMenu {
    width: 7rem;
    height: 5rem;
  }

  #logoHome {
    width: 14rem;
    height: 12rem;
  }

  #myName {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  #myJob {
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }

  .btn-primary {
    background-color: #4a7276 !important;
  }

  .btn-primary:hover {
    background-color: #1b3236 !important;
  }

  #about-text {
    text-align: justify;
    text-justify: inter-word;
  }

  #myPhoto {
    width: 230px;
    height: 250px;
    box-shadow: -2px -2px 2px #1b3236 ;
  }
  
  .fa-stack-1x, .fa-stack-2x {
    position: inherit;
  }